<%= form_for(@tarea) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :fechaC %><br>
    <%= f.date_select :fechaC %>
  </div>
  <div class="field">
    <%= f.label :fechaPrim %><br>
    <%= f.date_select :fechaPrim %>
  </div>
  <div class="field">
    <%= f.label :fechaplan %><br>
    <%= f.datetime_select :fechaplan %>
  </div>
  <div class="field">
    <%= f.label :prioridad %><br>
    <%= f.text_field :prioridad %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :id_tipoT %><br>
    <%= f.text_field :id_tipoT %>
  </div>
  <div class="field">
    <%= f.label :id_usuario %><br>
    <%= f.text_field :id_usuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
