<h1>Listing tareas</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Fechac</th>
      <th>Fechaprim</th>
      <th>Fechaplan</th>
      <th>Prioridad</th>
      <th>Estado</th>
      <th>Id tipot</th>
      <th>Id usuario</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tareas.each do |tarea| %>
      <tr>
        <td><%= tarea.id %></td>
        <td><%= tarea.descripcion %></td>
        <td><%= tarea.fechaC %></td>
        <td><%= tarea.fechaPrim %></td>
        <td><%= tarea.fechaplan %></td>
        <td><%= tarea.prioridad %></td>
        <td><%= tarea.estado %></td>
        <td><%= tarea.id_tipoT %></td>
        <td><%= tarea.id_usuario %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
