<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tarea.id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tarea.descripcion %>
</p>

<p>
  <strong>Fechac:</strong>
  <%= @tarea.fechaC %>
</p>

<p>
  <strong>Fechaprim:</strong>
  <%= @tarea.fechaPrim %>
</p>

<p>
  <strong>Fechaplan:</strong>
  <%= @tarea.fechaplan %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @tarea.prioridad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tarea.estado %>
</p>

<p>
  <strong>Id tipot:</strong>
  <%= @tarea.id_tipoT %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @tarea.id_usuario %>
</p>

<%= link_to 'Back', tareas_path %>
