

<section>
	
	<h2> Agendar Tarea</h2>
</br>

	
	</br>
<article>
	<div class="block">

	<%=  form_tag({:controller => "agendar", :action=> "agendarT"}) do%>

		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-1">
	
			<%= hidden_field_tag 'id', @tarea.id  %>
			<%= hidden_field_tag 'iduser', session[:id]  %>

			<center><h3>Planifique su tarea</h3></br></center>
					<div class="form-group">
					<div class="col-sm-10 col-sm-offset-1">
		
					<label >&iquestCuando desea realizar su tarea?</label>
					</br>
					<input type="radio" name="dia" id="r1" value="hoy"><label>Hoy</label>
					<input type="radio" name="dia" id="r2" value="despues"><label>Despu&eacutes</label>
					<br/>

					<label >Hoy</label>
					<select class="form-control" name="hoy" id="hoy">
					<option>Manana</option>
					<option>Tarde</option>
					<option>Noche</option>
					</select>

					</br>
					<label >Despu&eacutes</label>
					<select class="form-control" name="despues" id="despues">
					<option>Manana</option>
					<option>Pasado manana</option>
					<option>La semana que viene</option>
					<option>Sin fecha</option>
					</select>

					<br/>

					<label >Hora</label>
					<input type="text" name="horaplan" id="horaplan" class="form-control">
					<br/>


			<button type="submit" id="editar" class="btn btn-default" >Agendar</button>
			<a href="/agendar/agenda" class="btn btn-default" > Cancelar </a>	
		</div>
	</div>
	<%end%>	
</div>
</article>
</section>



