
		<!-- block de notas -->
		<section>
			<h2 id="subSeccion">Agendar</h2>
		</br>
			<article>
			</br>
				<div class="block">
					<h4 >Tareas de hoy</h4>
						<%@tareaHoy.each do |tarea| %>
							<a href= "/agendar/agendarTarea/<%=tarea["id"]%>" > <%=tarea["descripcion"] %> -  <%=tarea["fechaplan"] %> - <%=tarea["horaplan"] %> </a><br/>
						<%end%><br/>
					<h4 >Tareas Vencidas</h4>
						<%@tareaVencida.each do |tarea| %>
							<a href= "/agendar/agendarTarea/<%=tarea["id"]%>" > <%=tarea["descripcion"] %> - <%=tarea["fechaplan"] %> - <%=tarea["horaplan"] %> </a><br/>
						<%end%><br/>
					<h4 >Tareas sin Fecha</h4>
						<%@tareaSinFecha.each do |tarea| %>
							<a href= "/agendar/agendarTarea/<%=tarea["id"]%>"> <%=tarea["descripcion"] %> - <%=tarea["horaplan"] %>  </a><br/>
						<%end%>
	 			</div>
			 </article>
		</section>




	