

<section>
	
	<h2> Editar Tarea</h2>
</br>

	
	</br>

	<%=  form_tag({:controller => "manejador", :action=> "editarT"}) do%>

		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-1">
	
			<%= hidden_field_tag 'id', @tarea.id  %>
			<%= hidden_field_tag 'iduser', session[:id]  %>

			<b> Descripci&oacuten:</b><br/>
			<input type="text" name="descripcion" class="form-control" value=<%=@tarea.descripcion%> >
			<br/>
			<br/>

			<b> Fecha de Planificaci&oacuten: </b>
			<br/>
			<input type="date" name="fechaplan" class="form-control" value=<%=@tarea.fechaplan%> >
			<br/>
			<br/>

			<b> Hora de Planificaci&oacuten: </b>
			<br/>
			<input type="date" name="horaplan" class="form-control" value=<%=@tarea.horaplan%> >
			<br/>
			<br/>

			<b> Prioridad: </b>
			<br/>
			<select name="prioridad" class="form-control">
				<option> Importante </option>
				<option> Urgente </option>
				<option> Normal </option>
				<option> Baja </option>
			</select>	
			<br/>
			<br/>

			<b> Estado: </b>
			<br/>
			<select name="estado" class="form-control">
				<option> Completada </option>
				<option> No Completada </option>
			</select>
			<br/>
			<br/>

			<b> Tipo de Tarea: </b>
			<br/>
			<%= select_tag "tipo" , options_from_collection_for_select(@tipo, "id", "descripcionT", @tarea.id_tipoT) , class: "form-control" %>
			<br/>
			<br/>

			<button type="submit" id="editar" class="btn btn-default" >Guardar Cambios</button>
			<a href="/manejador/eliminarTarea/<%=@tarea.id%>" class="btn btn-default"> Eliminar Tarea </a>
			<a href="/manejador/sesion" class="btn btn-default" > Cancelar </a>	
		</div>
	</div>
	<%end%>	


</section>



