

<!-- block de notas -->
<section>
	
	<h2 > Bienvenido <%=session[:nombre] %> <%= session[:apellido]%></h2>
</br>

	<article>
	</br>
		<div class="block">

				<% if @tareaHoy.count == 0 && @tareaDespues.count == 0 && @tareaSinFecha.count == 0%>
					<h3> No tienes tareas por realizar <%=session[:nombre] %> : D </h3>
				<% end %>

				<% if @tareaHoy.count > 0 %>
					<h4 >Tareas para Hoy</h4>
					<%@tareaHoy.each do |tarea| %>
						
						<a href= "/manejador/editarTarea/<%=tarea["id"]%>" > <%=tarea["descripcion"] %>, Hora:<%=tarea["horaplan"]%>, Fecha: <%= tarea["fechaplan"] %> </a>
						<br/>
						
					<%end%>

				<%end%>

				<br/>

				<% if @tareaDespues.count > 0 %>
					<h3>Tareas para despu&eacutes</h3>
					<%@tareaDespues.each do |tarea| %>
					
						<a href= "/manejador/editarTarea/<%=tarea["id"]%>" > <%=tarea["descripcion"] %> , Hora:<%=tarea["horaplan"] %> , Fecha: <%= tarea["fechaplan"] %> </a>
						<br/>
					
					<%end%>
				<% end %>

				<%if @tareaSinFecha.count > 0 %>
					<h3> Tareas sin planificaci&oacuten </h3>
					<% @tareaSinFecha.each do |tarea| %>
						<a href= "/agendar/agenda" > <%=tarea["descripcion"] %> </a>
						<br/>
					<% end %>
				<% end %>

			</div>
	 </article>
</section>

		