<!-- block de notas -->
<section>

	<h2 id="subSeccion">Tareas realizadas</h2>
</br>
	<article>
		</br>

		<div class="block">
			
			<% if @tareasR.count > 0 %>
				<h3>Tareas realizadas</h3><br>
				<%@tareasR.each do |tarea| %>
					<a href="/manejador/eliminarTarea/<%=tarea['id']%>"> <%=tarea["descripcion"] %> - <%=tarea["estado"] %></a>
					 <br/>
				<%end%>
			<%else%>
				<h3> <%=session[:nombre] %> no has realizado ninguna tarea </h3>
			<%end%>
			</div>
	 </article>
</section>
