<%= form_tag ({:controller => "tipos", :action => "update"}, :method => "get") do_%>
    <%= label_tag :id_tipo %><br>
    <%= text_field :id_tipo %>

    <%= label_tag :descripcionT %><br>
    <%= text_field :descripcionT %>

    <%= submit_tag "enviar" %>
<% end %>