<h1>Listing tipos</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripciont</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tipos.each do |tipo| %>
      <tr>
        <td><%= tipo.id %></td>
        <td><%= tipo.descripcionT %></td>
        <td><%= link_to 'Show', tipo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo', new_tipo_path %>
