<div class="container" id ="contenedor1">

	</br></br>

	
	<ul  class = "nav nav-pills" id="navegacion" > 
	<li class="navbar-right"> 
		<a  class="btn" data-toggle="modal" data-target="#myModalInicio" href= "#">	Inicia Sesion </a>  
	</li> 
	</ul>

	</br></br></br></br>

	<div class="row">
		<div class="col-md-6">
			<%= image_tag ("Organizate.png" ),class: "logo img-responsive" %>
			<div class="block">
				<h4> Deseas poder organizar tus tareas?</h4> <br/>
				<h3> ¡Registrate Ya!</h3>
			</div>
			

		</div>

		<div class="col-md-5">
			<!-- Registrar nuevo usuario -->
			<table class="table table-bordered" id="tabla">
				<tr>
					<td>
						<%=  form_tag({:controller => "login", :action=> "registrar"}) do%>

							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-1">
						
									<%= hidden_field_tag 'usuario', "1"  %>
									<%= hidden_field_tag 'id', "1"  %>
			    					
			    					<%= text_field_tag "nombreU",nil,  placeholder:"Nombre", class: "form-control"%>
									<br/>
								
			    					<%= text_field_tag "apellidoU",nil , :placeholder =>"Apellido", :class =>"form-control" %>
								
									<br/>
			    					<%= text_field_tag "cedula",nil, :placeholder =>"Cedula", :class =>"form-control" %>
								
									<br/>
			    					<%= email_field_tag "email",nil, :placeholder =>"Email" , :class =>"form-control" %>
								
									</br>
			    					<input type="text" name="manana" placeholder="Configure una hora para la mañana" class="form-control"/>
								
									</br>
			    					<input type="text" name="tarde" placeholder="Configure una hora para la tarde" class="form-control"/>
								
									</br>
			    					<input type="text" name="noche" placeholder="Configure una hora para la noche" class="form-control"/>
									</br>
			    					<%= text_field_tag "username",nil, :placeholder =>"Username" ,:class =>"form-control"%>
									</br>
			  						<%= password_field_tag "password",nil, :placeholder => "Password", :class =>"form-control" %>
									</br>
									<select class="form-control" name="secretQ">
									  <option>&iquestCual es el nombre de su mascota favorita?</option>
									  <option>&iquestNombre de su pelicula favorita?</option>
									  <option>&iquestCual es su g&eacutenero de m&uacutesica favorito?</option>
									  <option>&iquestPa&iacutes preferido?</option>
									</select>
									</br>
			    					<%= text_field_tag "secretA",nil,:placeholder =>"Respuesta Secreta", :class =>"form-control"%>
								
								<br/>
								
							<button type="submit" class="btn btn-default" >Registrar</button>
					 	</div>
					</div>
					<%end%>
				</td>
			</tr>
			</table>
		</div>
	</div>


<!-- modal de iniciar sesion -->
<div class="modal fade" id="myModalInicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Iniciar Sesion</h4>
				</div>

			  	<div class="modal-body">
				
					<%=  form_tag({:controller => "login", :action=> "iniciarSesion"}) do%>
					
						<div class="form-group">
							<div class="col-sm-10 col-sm-offset-1">
								
								<%= hidden_field_tag 'usuario', "1"  %>
								<%= hidden_field_tag 'id', "1"  %>
								<input type="text" class="form-control" name="username" placeholder="Usuario">
								<br/>

								<input type="password" class="form-control" name="contrasena" placeholder="Password">

							</div>
						</div>
					  
				</div>
				<br/>
				<br/>
				<br/>
				<br/>
				 
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary" >Iniciar sesion</button>
				</div>
			 
			  	<%end%>
			  
			</div>
		</div>
	</div>

</div>

<!-- modal de bienvenida -->
<div class="modal fade" id="miModalBienvenida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">¡ Bienvenido !</h4>
			</div>

			<div class="modal-body">
		
				Usted ha sido registrado con exito
	  
			</div>
		</div>
	</div>
</div>

</div>



 
