<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :CI %><br>
    <%= f.text_field :CI %>
  </div>
  <div class="field">
    <%= f.label :nombreU %><br>
    <%= f.text_field :nombreU %>
  </div>
  <div class="field">
    <%= f.label :apellidoU %><br>
    <%= f.text_field :apellidoU %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :manana %><br>
    <%= f.text_field :manana %>
  </div>
  <div class="field">
    <%= f.label :tarde %><br>
    <%= f.text_field :tarde %>
  </div>
  <div class="field">
    <%= f.label :noche %><br>
    <%= f.text_field :noche %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :secretQ %><br>
    <%= f.text_field :secretQ %>
  </div>
  <div class="field">
    <%= f.label :secretA %><br>
    <%= f.text_field :secretA %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
