<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Ci</th>
      <th>Nombreu</th>
      <th>Apellidou</th>
      <th>Email</th>
      <th>Manana</th>
      <th>Tarde</th>
      <th>Noche</th>
      <th>Username</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.id %></td>
        <td><%= usuario.CI %></td>
        <td><%= usuario.nombreU %></td>
        <td><%= usuario.apellidoU %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.manana %></td>
        <td><%= usuario.tarde %></td>
        <td><%= usuario.noche %></td>
        <td><%= usuario.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
