<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @usuario.id %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @usuario.CI %>
</p>

<p>
  <strong>Nombreu:</strong>
  <%= @usuario.nombreU %>
</p>

<p>
  <strong>Apellidou:</strong>
  <%= @usuario.apellidoU %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Manana:</strong>
  <%= @usuario.manana %>
</p>

<p>
  <strong>Tarde:</strong>
  <%= @usuario.tarde %>
</p>

<p>
  <strong>Noche:</strong>
  <%= @usuario.noche %>
</p>

<p>
  <strong>Username:</strong>
  <%= @usuario.username %>
</p>


<%= link_to 'Back', usuarios_path %>
