.logo{
  width: 90%;
  height: 50%;
}
#navegacion{
    background: #86BE59;
    width: 100%;
}

#tabla{
  width: 100%;
  height: 70%;
}

#contenedor1{
padding-right: 76px ! important;
padding-left: 70px ! important;

}

.block{
  margin-left: 86px;
  color: #4a4a4a;
  margin-top:20px;
  font-family: "j";
  text-decoration:none;  
}
.block > a{
  font-size:  19px;
}
.block > a:hover{

  background:#86be59;
  text-decoration:none;

}

.block > h3, .block > a{
  line-height: 22px;
}



h4.block {
 font-family: "angelina";
}


section{
    position:relative;
    float:left;
    background-color:#ffffff;
    width:78%;
    height:100%;
    color:#000000;
    margin-left:3px;
 }

 section > h2{
  background: #4a4a4a;
    
  margin-left:10px;
  margin-top: 1px;
  color:#ffffff;
  font-family: "existence";
  letter-spacing: 5px;
 }

 article{
    background-image: url('block3.jpg');
    width:73%;
    height:100%;
    color:#FFF;
    box-shadow: 5px -5px 5px #333;
    -webkit-box-shadow: 5px -5px 5px #999;
    -moz-box-shadow: 5px 5px -5px #999;
 }

 aside{
   position:relative;
   background-color:#86BE59;
   width:18%;
   height:100%;
   color:#FFF;
   float:left;}

 section,aside,article{
  margin:1%;
}


@font-face { 
   font-family:j;
   src: url("j.ttf") format('truetype');
   font-size: 8;
}

@font-face { 
   font-family:existence;
   src: url("Steinerlight.ttf") format('truetype');
   font-size: 8;
}

.form-group > label, .form-group > input, .form-group > .col-sm-10.col-sm-offset-1 > label,
.form-group > .col-sm-10.col-sm-offset-1 > input, .form-group > .col-sm-10.col-sm-offset-1 > select > option {
  font-family: "existence";

}





