<!DOCTYPE html>
<html>
<head>
  <title>ProyectoAti</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "principal", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "llamadas" %>

  <% if flash[:mensaje] %>
	<script type="text/javascript">
		$(window).load(function() {
			$("#miModalBienvenida").modal("show");
		});
	</script>
<% end %>

</head>
<body>

<%= yield %>

</body>
</html>
