<!DOCTYPE html>
<html>
<head>
  	<title>ProyectoAti</title>
  	<%= stylesheet_link_tag    "bootstrap" %>
  	<%= javascript_include_tag "bootstrap" %>
  	<%= javascript_include_tag "jquery-2.1.0.min" %>
  	<%= csrf_meta_tags %>
  	<%= stylesheet_link_tag    "principal", media: "all", "data-turbolinks-track" => true %>
  	
	
	
</head>
<body>

<%= yield %>

</body>
</html>