<!DOCTYPE HTML>

<html>

	<head>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= stylesheet_link_tag    "principal", media: "all", "data-turbolinks-track" => true %>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
 		<%= javascript_include_tag "llamadas" %>
 		<%= javascript_include_tag "validar" %>
  		<%= javascript_include_tag "metodosadicionales" %>

  		<% if flash[:mensaje] %>
  			<script type="text/javascript">
  				$(window).load(function() {
  					$("#miModalmensaje").modal("show");
  				});
  			</script>
  		<% end %>

  		<script type="text/javascript">
  			$(window).load(function() {
  				
  				$("#hoy").attr('disabled', 'disabled');
  				$("#despues").attr('disabled', 'disabled');
  				$("#horaplan").attr('disabled', 'disabled');

  				$("#r1").on("change" ,function(){

	  				if ( $("#hoy").is(':checked') ){
	  					$("#hoy").attr('disabled', 'disabled');
	  					$("#despues").removeAttr('disabled');
	  					$("#horaplan").removeAttr('disabled');
	  				}else{
	  					$("#hoy").removeAttr('disabled');
	  					$("#despues").attr('disabled', 'disabled');
	  					$("#horaplan").attr('disabled', 'disabled');
	  				}
  				});

  				$("#r2").on("change",function(){

	  				if ( $("#despues").is(':checked') ){
	  					$("#despues").attr('disabled', 'disabled');
	  					$("#horaplan").attr('disabled', 'disabled');
	  					$("#hoy").removeAttr('disabled');
	  				}else{
	  					$("#despues").removeAttr('disabled');
	  					$("#horaplan").removeAttr('disabled');
	  					$("#hoy").attr('disabled', 'disabled');
	  				}
  				});
  			
  			});
  			
  			
  		</script>



	</head>

	<body>
		
		<!-- menu vertical -->
		<aside>
			<ul class="navegador nav nav-pills nav-stacked">
				<li><%= link_to "Inicio", :controller => "manejador", :action => "sesion" %></li> 
				<li><%= link_to "Agendar", :controller => "agendar", :action => "agenda" %></li>      
				<li><a data-toggle="modal" href="#miModalTipo" >Crear Tipo</a> </li>
				<li><a data-toggle="modal" href="#miModalTarea" >Crear Tarea</a></li>
				<li><%= link_to "Tareas Realizadas", :controller => "realizado", :action => "tareas" %></li>
				<li><%= link_to "Cerrar Sesion", controller: :login, action: :cerrarSesion %></li>
			</ul>
		</aside>

		<%= yield %>

		
		<!-- modal de crear tipo -->
		<div class="modal fade" id="miModalTipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Crear Tipo de Tarea</h4>
					</div>

					<div class="modal-body">
						
						<%= form_tag({:controller =>"manejador",:action=> "crearTipo"}) do%>
							
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-1">

									<input type="text" name="descripcionT" class="form-control" placeholder="Descripcion de la Tarea" required autofocus/>
									<%= hidden_field_tag 'tipo', "1"  %>

								</div>
							</div>
							  
					</div>
					
					<br/>
					<br/>
				
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
								<button type="submit" class="btn btn-primary" >Crear</button>
						  	</div>
					 
					  <%end%>
					  
				</div>
			</div>
		</div>
		

		<!-- modal mensaje de tipo -->
		<div class="modal fade " id="miModalmensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Mensaje</h4>
					</div>
					
					<div class="modal-body">
						
						<div class="col-sm-10 col-sm-offset-1">
							<%= flash[:mensaje] %>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
					 
					
				</div>
			</div>
		</div>

		<!-- modal crear tarea-->
		<div class="modal fade" id="miModalTarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Crear tarea</h4>
					</div>

					<div class="modal-body">
						
						<%= form_tag({:controller =>"manejador",:action=> "crearTarea"}) do%>
							
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-1">

									<input type="text" class="form-control" name="descripcion" placeholder="Indique la nueva tarea">
									<br/>

									<label for="exampleInputPassword1">Tipo de Tarea:</label>
									<select class="form-control" name="id_tipoT">
										<option value="null">Ninguna</option>
										<option value="null">Persona</option>
										<option value="null">Trabajo</option>
										<option value="null">Familiar</option>

										<% @tipos.each do |t| %>
											<option value="<%=t.id%>"><%=t.descripcionT %></option>
										<% end %>
									</select>
									
									<br/>
							
									<label >Fecha de Planificaci&oacuten</label>
									
									<input type="date" name="fecha" class="form-control">

									<br/>

									<label> Hora </label>
									<input type="text" name="horaplan" class="form-control">
									<br/>

									<label for="exampleInputPassword1">Prioridad</label>
									<select class="form-control" name="prioridad">
										<option>Ninguna</option>
										<option>Importante</option>
										<option>Urgente</option>
										<option>Poco importante</option>
										<option>No importa</option>
									</select>
								</div>
							</div>
							  
					</div>
					<br/>
					<br/>
					

							<div class="modal-footer">
						
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
								<button type="submit" class="btn btn-primary" >Crear</button>
							
							</div>
					 
					  	<%end %>
					  
				</div>
			</div>
		</div>
		

	</body>

</html>